<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fileDataObject">
            <h2><span>File Data Object</span> {{fileDataObject.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cmis Id</span></dt>
                <dd>
                    <span>{{fileDataObject.cmisId}}</span>
                </dd>
                <dt><span>Path</span></dt>
                <dd>
                    <span>{{fileDataObject.path}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/file-data-object', fileDataObject.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
